<div class='header'>
	<a href='/' class='logo full-height total-center'><div>larcolabs</div></a>
	<div class='nav full-height'>
		<a class='full-height' href='/portfolio'><div class='a full-height total-center'><div>PORTFOLIO</div></div></a>
		<a class='full-height' href='/contact'><div class='a full-height total-center'><div>CONTACT</div></div></a>
		<a class='full-height' href='/playground'><div class='a full-height total-center'><div>PLAYGROUND</div></div></a>
	</div>
	<div class='share total-center'>
		<a target='blank' href='//facebook.com/larcolabs' class='ss-icon'></a>
		<a target='blank' href='//twitter.com/larcolabs' class='ss-icon'></a>
	</div>
</div>