.header{
	height:104px;
	
	position:relative;
	
	cursor:default;
	
	background:rgb(255,255,255);
}

.header .logo{
	position:absolute;
	top:0px;
	left:50px;
	
	font-size:31px;
	line-height:33px;
	font-family:'lato';
	font-weight:400;
	
	color:rgb(25,25,40);
	
	cursor:pointer;
}

.header .share{
	position:absolute;
	top:0px;
	right:50px;
	
	font-size:12px;
	
	height:100%;
}
.header .share a{
	padding:4px;
	margin:0px 2px;
	
	cursor:pointer;
	
	-webkit-transition:color 200ms;
}
.header .share a:hover{
	color:rgb(238,39,110);
}

.header .nav{
	font-size:12px;
	
	text-align:center;
}
.header .nav a{
	display:inline-block;
	
	cursor:pointer;
}
.header .nav .a{
	margin:0px 20px;
	
	position:relative;
	
	-webkit-transition:color 200ms;
}
.header .nav a:hover .a{
	color:rgb(238,39,110);
}
.header .nav .a::after{
	content:'';
	
	display:block;
	
	height:0px;
	background:rgb(238,39,110);
	
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	
	-webkit-transition:height 200ms;
}
.header .nav a:hover .a::after{
	height:7px;
}

@media screen and (max-width:900px){
	.header .nav .a{
		margin:0px 10px;
	}
}
@media screen and (max-width:680px){
	.header .logo{
		left:25px;
	}
	
	.header .nav{
		padding-right:15px;
		text-align:right;
	}
	
	.header .share{
		display:none;
	}
}
@media screen and (max-width:450px){
	.header .logo{
		position:initial;
	}
	
	.header .nav{
		display:none;
	}
}