<!DOCTYPE html>
<style>

canvas{
	position:fixed;
	
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

</style>
<html>
<head>
<meta charset="utf-8"/>

<title>Larco Labs &middot; Playground</title>

<meta name="description" content="Larco Labs combines form with function to create beautiful and out-standing websites."></meta>
<meta name="author" content="Hunter John Larco"></meta>
<meta name="pinterest" content="nohover"></meta>
<meta content="yes" name="apple-mobile-web-app-capable"></meta>
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport"></meta>

<link rel="stylesheet" href="/resources/css/resets.css"/>
<link rel="stylesheet" href="/resources/css/global.css"/>

<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'></link>

<script src='/resources/scripts/requestAnimationFrame.js'></script>

</head>
<body>


<canvas></canvas>


<script type='text/javascript'>
(function(){
	
	var canvas, ctx, width, height;
	var points = [];
	
	window.addEventListener('load', Init);
	
	function Init(){
		LoadCanvas();
		CheckPoints();
		Render();
	}
	
	function LoadCanvas(){
		canvas = document.querySelector('canvas');
		ctx = canvas.getContext('2d');
		OnResize();
		window.addEventListener('resize', OnResize);
	}
	function OnResize(){
		width = canvas.width = canvas.offsetWidth;
		height = canvas.height = canvas.offsetHeight;
	}
	
	function CheckPoints(){
		if(points.length == 0){
			points.push({
				x: 0,
				y: height/2,
				dir: Math.floor(Math.random()*2)*2-1
			});
			CheckPoints();
			return;
		}
		
		while(points.length > 2 && points[0].x < 0 && points[1].x < 0) points.splice(0, 1);
		
		if(points[points.length-1].x > width) return;
		
		const min_dx = 500;
		const max_dx = 700;
		const min_dy = 150;
		const max_dy = 400;
		
		var last = points[points.length-1];
		points.push({
			x: last.x + (Math.random()*(max_dx-min_dx)+min_dx),
			y: last.y + (Math.random()*(max_dy-min_dy)+min_dy)*last.dir,
			dir: last.dir*-1
		});
		
		CheckPoints();
	}
	
	function Render(){
		requestAnimationFrame(Render);
		
		ctx.clearRect(0, 0, width, height);
		ctx.lineWidth = 90;
		ctx.lineCap = 'square';
		
		ctx.strokeStyle = 'rgb(202,78,78)';
		
		ctx.beginPath();
		ctx.moveTo(points[0].x, points[0].y);
		
		for(var i=0; i<points.length-1; i++){
			var now = points[i],
					next = points[i+1];
			
			ctx.lineTo(next.x, next.y);
			
			points[i].x -= 2;
		}
		points[points.length-1].x -= 2;
		CheckPoints();
		
		ctx.stroke();
	}
	
})();
</script>
</body>
</html>